#conda install -c conda-forge opencv==3.3.1
#conda install -c anaconda pillow
#conda install -c conda-forge aubio
#conda install -c anaconda pyaudio
#conda install -c conda-forge pydub

numpy
pygame
samplerate
mido
comtypes==1.1.4
python-rtmidi
flask
pykinect2
